<.header>
    New Booking
  </.header>
  
  <h2>Site under construction.</h2>
  
  <form action="/bookings">
    <input id="pickup_address">
    <input id="dropoff_address">
    <button id="submit_button">Submit</button>
  </form>
  